<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="z-index: 999;">
    <div class="container-fluid">
      <a class="navbar-brand d-block d-lg-none" [routerLink]="['']">FINALE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto">
          <a class="nav-link active" aria-current="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" [routerLink]="['inicio']">Inicio</a>
          <a class="nav-link" href="#">Categorias</a>
          <a class="nav-link" href="#">Acerca de</a>
        </div>
      </div>
    </div>
  </nav>