<div #div class="container-fluid">
    <div class="row" style="font-family: FrancoisOne;">
        <div class="col-sm-4 order-sm-1 order-2 bg-warning">
            <div  class="row bg-success" >
                <div style="overflow: hidden;  margin: 0; padding: 0;">

                        <div  [routerLink]="['/categoria','madera']" class="bg-primary botonVientosMadera botonGeneral">
                            <span class="botonTitulo">Vientos de Madera</span>
                        </div>



                </div>
                <div style="overflow: hidden;">
                    <div class="row bg-success botonVientosMetal botonGeneral">
                        <span class="botonTitulo">Vientos de metal</span>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div class="row bg-danger botonCuerdas botonGeneral">
                        <span class="botonTitulo">Cuerdas</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-4 order-sm-1 order-first text-center" style="position: relative;">
            <div  style="position:relative;  line-height:25px;margin-top: 15%">
                <span class="tituloCentral" style="position:block; font-size: 8vw; font-family:'Times New Roman', Times, serif, Courier, monospace; margin-top: 150px;">FINALE</span>
                <p class="subtituloCentral" style="font-size: 1.5vw;  position: block;">Instrumentos de la orquesta contemporánea</p>
            </div>
            <p style="text-align: justify; font-size: 20px; line-height: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime distinctio quam obcaecati vel fuga ea asperiores tempore magnam sed dolore cumque voluptatem, quisquam similique molestias est? Nostrum, voluptatem cupiditate.</p>
            <p style="text-align: justify; font-size: 20px; line-height: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime distinctio quam obcaecati vel fuga ea asperiores tempore magnam sed dolore cumque voluptatem, quisquam similique molestias est? Nostrum, voluptatem cupiditate.</p>
        </div>
        <div class="col-sm-4 order-sm-3 order-3 bg-warning">
            <div class="row">
                <div style="overflow: hidden;">
                    <div class="row bg-primary botonPercusion botonGeneral">
                        <span class="botonTitulo">Percusión</span>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div class="row bg-success botonOtrosInstrumentos botonGeneral">
                        <span class="botonTitulo">Otros instrumentos</span>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div class="row bg-danger botonOrquesta botonGeneral">
                        <span class="botonTitulo">Orquesta</span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>