<div style="margin-left: 10px; margin-right: 10px; text-align: center;">
    <h1 class="estiloTituloSecciones">{{articuloInstrumento}} {{instrumento.instrumento}} en el tiempo</h1>
    <div class="containerModelos">
        <p style="white-space: pre-wrap; text-align: justify; margin-bottom: 40px;">{{txtEnElTiempo}}</p>

        <img style="margin-bottom: 30px;" src="../../../../assets/img/note separador.gif">
    </div>
    <!-- <p class="introTexto" style="" [innerHTML]="txtEnElTiempo"></p> -->
    

</div>